
.ThereminNode.modal {

  .play-zone {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    margin: 24px 0;
    overflow: hidden;

    .circle {
      border-radius: 50%;
      display: block;
      position: absolute;
      border-width: 5px;
      border-style: solid;

      &.back {
        border-color: black;
      }

      &.white {
        border-color: lightgray;
      }

      $numberOfSemitones: 14;

      @for $i from 1 through ($numberOfSemitones) {
        &:nth-child(#{$i}) {
          width: calc((141.4% / $numberOfSemitones * ($i)) * 2);
          height: calc((141.4% / $numberOfSemitones * ($i)) * 2);
          bottom: calc((141.4% / $numberOfSemitones * ($i)) * -1);
          left: calc((141.4% / $numberOfSemitones * ($i)) * -1);
        }
      }
    }
  }
}