.instrument {
  .header {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    h2 {
      line-height: 1;
      font-size: 1rem;
      flex-grow: 1;
    }

    h2, button {
      margin: 0;
    }
  }

  .macro-controls {
    height: 120px;
    padding: 6px;
    background-color: $darker;

    .controls {
      display: flex;
      align-items: center;
    }
  }

  .instrument-config {
    background-color: rgba($darkest, 0.7);
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;

    .config-panel {
      background-color: $darker;
      max-width: 700px;
      padding: 12px;
      border-radius: 2px;
      display: flex;
      max-height: 80vh;

      section {
        display: flex;
        flex-direction: column;
        padding: 12px;

        &:not(:last-child) {
          border-right: 2px solid $dark;
        }

        h3 {
          margin: 0 0 12px 0;
          font-size: 1rem;
        }

        .section-content {
          display: flex;
          flex-direction: column;
          overflow-y: auto;

          .component {
            display: flex;
            flex-direction: column;

            &:not(:first-child) {
              border-top: 2px solid $dark;
              padding: 12px 0;
            }
          }
        }
      }
    }
  }
}

// light pulse effect
.instrument {
  $colors: (
          #72e5ef,
          #32a190,
          #d5ff97,
          #699f3c,
          #21f0b6,
          #66a1e5,
          #8184fb,
          #f2daff,
          #e27db1,
          #fe5cde,
          #7cee4d,
          #8f937f,
          #fcd107,
          #fd5917,
          #e08761,
          #fde096,
          #e8fd18
  );

  .macro-controls {
    border: 3px solid $dark;
    border-radius: 3px;
    transition-duration: 0.3s;
    transition-property: box-shadow, border;

    &.trigger {
      transition-duration: 0s;
    }
  }

  @for $i from 0 to length($colors) * 2 {
    $color: nth($colors, $i % length($colors) + 1);
    &:nth-child(#{$i}) > .macro-controls.trigger {
      border-color: $color;
      box-shadow: 0 0 10px $color;
    }
  }
}
