.knob {
  width: 48px + 12px;
  padding: 6px;
  text-align: center;

  & > .handle {
    background-color: $darkest;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 6px;
    cursor: move;

    & > .pointer {
      background-color: $white;
      width: 2px;
      height: 12px;
      transform-origin: 1px 18px;
    }

    @for $i from 0 through 360 {
      &[data-rotate = "#{$i}"] {
        & > .pointer {
          transform: translate(23px, 6px) rotate(#{$i}deg) scaleY(-1);
        }
      }
    }

    &.dragging-ghost {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
  }

  & > .label {
  }
}


.knobs {
  display: flex;
  flex-direction: row;
}
