
.modal.active {
  opacity: 1;
  visibility: visible;

  .modal-body {
    top: 50%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    button, .paper-btn, [type=button] {
      margin: 0;
    }
  }
}